<!-- add in stylesheet for icons-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles/icons.css">

<div class="container p-3 mb-2 footer">
  <div class="row">
    <div class="col-3">
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
    </div>
  <div class="col-7" style="text-align:center;">
    <br><br><br>
    <p>Copyright Laura Hutchison, 2018</p>
    <p style="font:12;">Lorem ipsum dolor sit amet.</p>
  </div>
    <div class="col-2 p-2" style="text-align:center;">
      <h5>Follow me!<h5>
          <ul>
            <li>
                <a class="fb-ic mr-3" role="button" href="https://www.facebook.com/laura.engebretson.5"><i class="fa fa-lg fa-facebook"></i></a>
            </li>
            <li>
                <a class="ig-ic mr-3" role="button" href="https://www.instagram.com/sawneyblots/"><i class="fa fab fa-instagram"></i></a>
            </li>
            <li>
                <a class="fb-ic mr-3" role="button" href="twitter.com/elonmusk"><i class="fa fab fa-twitter"></i></a>
            </li>
  </div>
</div>
