<!-- add in stylesheet for icons-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles/icons.css">

<!-- Begin footer -->
<div class="container p-3 mb-2 footer">
  <div class="row">
    <!-- Some sort of text? Address? Statement? -->
    <div class="col-lg-3 col-s-12">
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
    </div>
    <!-- Copyright - could be used for navigational menu if site large enough? -->
    <div class="col-lg-7 col-s-3" style="text-align:center;">
      <br>
      <p style="font-size:14px;">Copyright Laura Hutchison, 2018</p>
      <p style="font-size:12px;">Lorem ipsum dolor sit amet.</p>
    </div>
    <!-- Social media buttons -->
    <div class="col-lg-2 p-2 col-s-6" style="text-align:center;">
      <h5>Follow me!<h5>
        <ul>
          <li>
            <a class="fb-ic mr-3" role="button" href="https://www.facebook.com/laura.engebretson.5"><i class="fa fa-lg fa-facebook"></i></a>
          </li>
          <li>
            <a class="ig-ic mr-3" role="button" href="https://www.instagram.com/sawneyblots/"><i class="fa fab fa-instagram"></i></a>
          </li>
          <li>
            <a class="fb-ic mr-3" role="button" href="twitter.com/elonmusk"><i class="fa fab fa-twitter"></i></a>
          </li>
        </div>
      </div>
    </div>
