<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   {% include header.html %}
 <meta charset="utf-8">
 <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Basics -->
    <link rel="stylesheet" href="styles/reset.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/global.css">

    <link rel="stylesheet" href="styles/colours.css">

    <link rel="stylesheet" href="styles/typography.css">

 <title>{{page.title}}</title>
 </head>
 <body>
 {{content}}
 </body>
</html>

<footer>
{% include footer.html %}
</footer>
