body{
  background-color: var(--main-color)
}

.navbar-default {
    background-color: var(--pink-light);
    border-color: #FE929F;
    text: font-family: 'Homemade Apple', cursive;
}

.footer{
  background-color: var(--pink-light);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:auto;
    padding:37px;

}
.img-responsive {
    margin: auto;
    display: block;
}
