:root{
  --main-color: #ECE4E2; /* Bone - a very light, sandy beige, good for main background colour */
  --secondary-color: #FCD3D1; /* Baby Pink - a light, soft pink, very complementary to the main - just there as backup */
  --pink-light: #FCDFF3; /* Bubblegum - another light pink, but cooler than baby pink */
  --pink-dark: #FE929F; /* Ticked Pink - a darker shade of bubblegum - icons and other standout options? */
}

body{
  background-color: var(--main-color)
}

.navbar-default {
    background-color: var(--pink-light);
    border-color: #FE929F;
    text: font-family: 'Homemade Apple', cursive;
}

.footer{
  background-color: var(--pink-light);
}

.row{
  display:flex;
}

.row-divide {
  flex: 1;
  background: var(--secondary-color);
  border: 1px solid grey;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin:auto;
    padding:37px;

}
.img-responsive {
    margin: auto;
    display: block;
}

.border-between > [class*='col-']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}
